.calculadoraContainer {
  width: 340px;
  margin: 0px 0px ;
  padding: 16px;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.comprimentoXLarguraContainer{
  display: flex;
  gap: 16px;
}

.calculadoraContainer h2 {
  margin-bottom: 20px;
  font-size: 18px;
}

.calculadoraContainer label {
  display: block;
  margin-bottom: 5px;
}

.calculadoraContainer input {
  width: 100%;
  padding: 6px;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.calculadoraContainer button {
  display: block;
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-self: center;
}

.calculadoraContainer button:hover {
  background-color: #0056b3;
}

.calculadoraContainer div.resultados {
  margin-top: 20px;
}

.calculadoraContainer p {
  font-size: 14px;
  margin-bottom: 10px;
}
.calculadoraContainer label{
  font-size: 14px;
  font-weight: bold;
}
.checkBox{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.checkBox label{
  margin-right: 8px;
}

.checkBox input{
  height: 20px;
  width: 20px;
  align-self: flex-start;
}