.calculadoraContainer {
  max-width: 600px;
  margin: 0 0  auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.calculadoraContainer h2 {
  margin-bottom: 20px;
}

.calculadoraContainer label {
  display: block;
  margin-bottom: 5px;
}

.calculadoraContainer input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.calculadoraContainer button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.calculadoraContainer button:hover {
  background-color: #0056b3;
}

.calculadoraContainer div.resultados {
  margin-top: 20px;
}

.calculadoraContainer p {
  margin-bottom: 10px;
}

.checkBox{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.checkBox label{
  margin-right: 8px;
}

.checkBox input{
  height: 20px;
  width: 20px;
  align-self: flex-start;
}