.container {
  margin-bottom: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.header {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}

.cell {
  width: 120px;
  padding: 8px 16px;
}

.row {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}

.total {
  margin-top: 20px;
  background-color: rgb(233, 50, 50);
  width: fit-content;
  align-self: flex-end;
  border-radius: 5px;
}

.total p{
  color:#fff;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 16px;
}

.header h3{
  margin: 0;
  color: red;
}