.mainContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
 
}

.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.container img{
  width: 300px;
}

.container p{
  font-size: 14px;
  font-weight: 800;
  text-align: end;
}

.containerDetalhe{
  display: flex;
  align-items: center;
}

.containerDetalhe span{
  width: 85%;
  height: 25px;
  background-color: #d03438;
}

.containerDetalhe h2{
  font-size: 25px;
  font-weight: 800;
  padding: 0px 32px;
  margin: 0;
}

.containerDetalhe span:last-of-type{
  width: 15%;
}