.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerBtnCalculadora{
  width: 1000px;
  display: flex;

}

.containerBtnCalculadora button{
  background-color: rgb(255, 255, 255);
  color: #3924c2;
  font-size: 18px;
  font-weight: 900;
  border-radius: 10px 10px 0px 0px;
  padding: 0;
  width: 280px;
  height: 50px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
}
.containerBtnCalculadora button:last-of-type{
  background-color: rgb(231, 231, 231);
}

.containerBtnCalculadora button:hover{
  background-color: rgb(237, 237, 237);
}

.containerCalculadoras{
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
  background-color: rgb(255, 255, 255);
  padding: 24px 0px;
  width: 1000px;
  border-radius: 0px 16px 16px 16px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.containerCalculo{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 48px;
}



.containerPreencher{
  margin: 32px 0px;
}

.containerOrcamentos{
  display: flex;
  width: 1000px;
  border-radius: 16px;
  background-color: #3924c2;
}