.mainContainer{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.containerCliente p{
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;

}
.containerCliente span{
  font-size: 12px;
  font-weight: 400;
}

.descricao p{
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.descricao textarea{
  resize: none;
  border-radius: 3px;
  border-color: rgb(216, 216, 216);
}