.mainContainer{
  display: flex;
  width: 100%;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 1110px;
  margin: 8px 16px;
}

.pageInfoMainContainer{
  display: flex;
  width: 100%;
  justify-content: center; 
}
.pageInfoContainer{
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-bottom: 32px;
}

.btnImprimir{
  font-size: 16px;
}

