.mainContainer {
  max-width: 450px;
  margin: 0px 0px ;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.modeloXMaterial{
  display: flex;
  gap: 48px;
}

.modeloXMaterial select{
  width: 180px;
}

.metragemLona{
  display: flex;
  gap: 48px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select,
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.orcamentosContainer{
  margin-top: 48px;
}

.checkBox{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.checkBox label{
  width: auto;
  margin-right: 8px;
}

.checkBox input{
  height: 20px;
  width: 20px;
  align-self: flex-start;
}